html,
body {
  height: 100%;
  margin: 0;
  padding: 5px;
  /* */
}

body{
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: stretch; */
    /* flex-wrap: nowrap; */
    flex-direction: column-reverse;
}

.imagenes img{
    width: 10px;
    height: 50px;
}
