@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
/*.paises article{
    margin: 0 auto; no sé porque no funciona aca 
}*/

.paises p,h1{
    text-align: center;
}
article{
    margin-top: 80px;
}
.bandera{
    margin: 0 auto;
    width: 300px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
}
/*bandera de paises*/
/*bandera Argentina*/
.paises .Argentina .bandera{
    background-color: #75AADB;
}
.paises .Argentina .bandera .franja-blanc{
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 35%;
    margin-top: 20%;
}
.paises .Argentina .bandera .franja-blanc .sol{
    background-color: #f3e56b;
    margin: 0 auto;
    margin-top: 3%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    
}

/*bandera francia
.paises .Francia .bandera{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    white-space:
}
.paises .Francia .bandera .azul{
    display: inline-block;
    padding-left: 2px;
    width: 90px;
    height: 100%;
    background-color: rgb(7, 15, 249);
}
.paises .Francia .bandera .blanc{
    display: inline-block;
    width: 100px;
    height: 100%;
    padding-right: 2px;
    background-color: rgb(253, 253, 253);
}
.paises .Francia .bandera .rojo{
    display: inline-block;
    padding-right: 2px;
    width: 100px;
    height: 100%;
    margin-left: 0;
    background-color: rgb(255, 38, 0);
}
Lo intente así primero pero el tema es que me quedaba en el medio espacio vacio que intenté arreglar pero no sabía como


/*bandera Noruega*/
.paises .Francia .bandera{
background: linear-gradient(to right, #1900ff 33%, #fff 33%, #fff 66%, #f51c1c 66%);
}

.paises .CostaRica .bandera{
    background-color: #1900ff;

}
.paises .CostaRica .bandera .back1{
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 50%;
    margin-top: 16%;
}
.paises .CostaRica .bandera .back1 .roj{
    background-color: rgb(241, 12, 12);
    display: inline-block;
    width: 100%;
    height: 50%;
    margin-top: 9%;
}

/*bandera Suecia*/
.paises .Suecia .bandera{
    background-color: #3b72e7;
}

.paises .Suecia .bandera .linea-h{
    position: absolute;
    background-color: #f3e56b;
    height: 201px;
    width: 40px;
    margin-left: 60px;
}

.paises .Suecia .bandera .linea-v{
    background-color: #f3e56b;
    margin-top: 63px;
    position: absolute;
    height: 40px;
    width: 300px;
}
/*bandera Grecia*/
.paises .Grecia .bandera{
    background-color: #75AADB;
}
.paises .Grecia .bandera .cruz{
    position: absolute;
    background-color: #75AADB;
    width: 96px;
    height: 96px;
}
.paises .Grecia .bandera .lineas{
    background-color: white;
    margin-top: 20px;
    width: 300px;
    height: 24px;
}

.paises .Grecia .bandera .lin-h{
    position: absolute;
    background-color: white;
    margin-top: 43px;
    width: 96px;
    height: 21px;
}

.paises .Grecia .bandera .lin-v{
    background-color: white;
    position: absolute;
    margin-left: 37px;
    width: 21px;
    height: 108px;
}


/*bandera Italia*/
.paises .Italia .bandera{
    background: linear-gradient(to right, #238641 33%, #fff 33%, #fff 66%, #f51c1c 66%);

}