.container {
    position: absolute;
    width: 630px;
    height: 450px;
    border: 1px solid;
    padding: 10px;
    margin: 100px auto;
}

.box {
    width: 150px;
    height: 150px;
    display: inline-block;  
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.one {
    position: relative;
    z-index: 1;
    background-color: darkgoldenrod; 
}

.two {
    position: relative;
    top:99px;
    right: 58px;
    background-color: darkcyan;
}

.three {
    position: relative;
    top:196px;
    right: 97px;
    z-index: 1;
    background-color: darkolivegreen;
}

.four {
    position: relative;
    top:306px;
    right: 147px;
    background-color: darkred;
}