@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Varela+Round&display=swap");
body {
  font-family: "Varela Round", sans-serif;
  color: antiquewhite;
  background: black;
}

.titulo a{
  text-decoration: none;
}

.titulo a:hover{
    color: yellow;
  }

main section h2,
h1,
.titulo {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 30px;
}

nav ul {
  text-align: center;
}

li {
  list-style: none;
}

nav li {
  list-style: none;
  display: inline;
}

nav li a:link,
a:visited {
  outline: none;
  color: blanchedalmond;
  text-decoration: none;
  display: inline-block;
  background-color: blue;
  text-align: center;
  width: 6.5%;
  /**idth especifica la anchura del area de contenido de un elemento.*/
  /**Especificado con el tipo <percentage> como porcentaje de la anchura del bloque contenedor. Si la anchura del bloque contenedor depende de la anchura del elemento, la presentación resultante es indefinida.*/
  margin-right: 3%;
  line-height: 3;
  /**La propiedad  CSS line-height  establece la altura de una casilla  remarcada por líneas. Comúnmente se usa para establecer la distancia entre líneas de texto. A nivel de elementos de bloque,define la altura mínima de las casillas encuadradas por líneas dentro del elemento*/
}

/*el navegador */
.sol a:hover {
  background: yellow;
  color: black;
}

.mercurio a:hover {
  background: rgb(255, 94, 0);
  color: black;
}

.Venus a:hover {
  background: rgb(167, 121, 172);
  color: black;
}

.Tierra a:hover {
  background: green;
  color: black;
}

.Marte a:hover {
  background: rgb(223, 60, 60);
  color: black;
}

.Júpiter a:hover {
  background: violet;
  color: black;
}

.Saturno a:hover {
  background: rgb(202, 201, 110);
  color: black;
}

.Urano a:hover {
  background: lightskyblue;
  color: black;
}

.Neptuno a:hover {
  background: rgb(85, 85, 250);
  color: black;
}

.Pluton a:hover {
  background: purple;
  color: black;
}

.categoria span {
  background: lightblue;
}

.categoria span a {
  color: black;
}

/*parrafos*/
article {
  text-align: justify;
}
article .pal_bold {
  font-weight: bolder;
  color: rgb(223, 190, 81);
}

article .citas_rel {
  font-style: italic;
}

article .pal_italica {
  font-style: italic;
  font-weight: bolder;
  /*le cambie de color para que se noté más*/
  color: rgb(223, 190, 81);
}

/*Lecturas relacionadas*/
article .link_rel a {
  color: rgb(42, 123, 199);
}

article .link_rel a:hover {
  color: yellow;
}
