
.barra-fondo{
    width: 500px;
    height: 30px;
    background-color: #eaeaea;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

.barra-fondo div{
    height: 95%;
    background-color: #d464d8;
    border-radius: 100px;
    
}

.barra-int1{
    width: 10%;
}

.barra-int2{
    width: 25%;
}

.barra-int3{
    width: 50%;
}

.barra-int4{
    width: 75%;
}

.barra-int5{
    width: 90%;
}